/* btn */
.btn01 {width:100%; height:32px; text-align:center; line-height:32px; border-radius:5px; display:inline-block;}

/* color */
.bgBlue01 {background:#303996;}
.bgGray01 {background:#e6e6e6;}
.bgOrange01 {background:#f90;}
.bgWhite {background:#fff;}
.bgRed01 {background:#eb282e; color:#fff;}

.pWhite {color:#fff;}
.pBlack {color:#000;}
.pBlue01 {color:#303996;}

a:link.aWhite,a:visited.aWhite {color:#fff;}
a:hover.aWhite,a:active.aWhite {color:#fff;}

a.aBlack {color:#000;}
a:hover.aBlack,a:active.aBlack {color:#000;}

a.aBlue01 {color:#217dd9;}
a:hover.aBlue01,a:active.aBlue01 {color:#217dd9;}

a.aGray01 {color:#217dd9;}
a:hover.aBlue01,a:active.aBlue01 {color:#217dd9;}

.pGray01 {color:#999;}
.pGray02 {color:#a0a0a0;}
.pOrange01 {color:#f90;}

/* checkBox */
.check01 span {width:30px; height:30px; display:inline-block; background:url(../images/check01.gif); background-position:0 0; margin:0 10px -2px 0;}
.check02 span {width:30px; height:30px; display:inline-block; background:url(../images/check02.gif); background-position:0 0; margin:0 10px -2px 0;}
.check01 span.checked,.check02 span.checked {background-position:-30px 0;}

/* font */
.p0 {font-size:0px;}
.p12 {font-size:12px;}
.p14 {font-size:14px;}
.p16 {font-size:16px;}
.p18 {font-size:18px;}
.p20 {font-size:20px;}
.p22 {font-size:22px;}
.p24 {font-size:24px;}
.p26 {font-size:26px;}
.p28 {font-size:28px;}
.p30 {font-size:30px;}
.p32 {font-size:32px;}

.lineHeight22 {line-height:22px;}
.lineHeight24 {line-height:24px;}
.lineHeight26 {line-height:26px;}
.lineHeight30 {line-height:30px;}

.pStrong {font-weight:bold;}
.pNormal {font-weight:normal;}

/* link */
a.pUnder:link, a.pUnder:visited {text-decoration:underline;}
a.pUnUnder:link, a.pUnUnder:visited {text-decoration:none;}

/* position */
.floatLeft  {float:left;  display:inline;}
.floatRight {float:right; display:inline;}

.pLeft {text-align:left;}
.pCenter {text-align:center;}
.pRight {text-align:right;}

/* width */
.width10 {width:10%;}
.width20 {width:20%;}
.width30 {width:30%;}
.width40 {width:40%;}
.width50 {width:50%;}
.width60 {width:60%;}
.width70 {width:70%;}
.width80 {width:80%;}
.width90 {width:90%;}
.width100 {width:100%;}

/* height */
.height10 {height:10px;}
.height20 {height:20px;}
.height30 {height:30px;}
.height40 {height:40px;}
.height50 {height:50px;}
.height100 {height:100px;}

/* layer */
.show {display:block;}
.hide {display:none;}
.inlineBlock {display:inline-block;}
.opa0 {opacity:0;}
.opa10 {opacity:.1;}
.opa20 {opacity:.2;}
.opa30 {opacity:.3;}
.opa40 {opacity:.4;}
.opa50 {opacity:.5;}
.opa60 {opacity:.6;}
.opa70 {opacity:.7;}
.opa80 {opacity:.8;}
.opa90 {opacity:.9;}
.opa100 {opacity:1;}

/* layout */
ul.layout2Cube li {width:50%; float:left; display:inline;}
ul.layout3Cube li {width:33.3%; float:left; display:inline;}
ul.layout3Cube li:last-child {width:33.4%; float:left; display:inline;}
ul.layout4Cube li {width:25%; float:left; display:inline;}
ul.layout5Cube li {width:20%; float:left; display:inline;}

/* public */
.pointer {cursor:pointer;}
.hackbox {clear:both;}

/* pad */
.pad0_10 {padding:0 10px;}

/* border */
.borderRFull {border-radius:50%;}
.borderR2px {border-radius:2px;}
.borderR5px {border-radius:5px;}
.borderR10px {border-radius:10px;}

/* table */
.table01 {}
.table01 table {width:100%; border-left:#e6e6e6 1px solid; border-top:#e6e6e6 1px solid;}
.table01 th {background:#e6e6e6;}
.table01 th, .table01 tr {border-right:#e6e6e6 1px solid; border-bottom:#e6e6e6 1px solid;}
.table01 th, .table01 td {height:40px;}

/* input */
.inp01 {width:calc(100% - 22px); -webkit-width:calc(100% - 22px); -ms-width:calc(100% - 22px); -moz-width:calc(100% - 22px); -o-width:calc(100% - 22px); 		height:38px; line-height:38px; padding:0 10px;}

.borderBlue01 {border:#227dda 1px solid;}
.borderGray01 {border:#e6e6e6 1px solid;}



/* position */
.relative {position:relative;}
.absolute {position:absolute;}
.fixed {position:fixed;}

/* dot */
.dot01 {width:5px; height:5px; display:inline-block;}

/* pager */
.pager01 {}
.pager01 ul li {width:30px; float:left; margin-left:2px; font-size:12px; cursor:pointer; border:#e6e6e6 1px solid;}
.pager01 ul li:hover,.pager01 ul li.cur {background:#217dd9; color:#fff; border:#217dd9 1px solid;}
.pager01 ul li:first-child {width:58px; margin-right:3px;}
.pager01 ul li:last-child {width:58px; margin-left:5px;}
