@import url(common.css);
@import url(kmrLib_PC.css);
@import url(sprite.css);

body {width:100%; height:100%; color:#272636; font-family:"Microsoft YaHei" !important; font-size:14px;}

/* article */

#article {width:1898px; height:1080px; background:url(../images/fullbg.jpg) 0 0 no-repeat; background-size:100% 100%; position:relative;}

#article h2 {height:31px; padding-left:25px; background:none;}

.area_l {width:609px; float:left; display:inline; margin:0 16px 0 13px; padding-top:17px;}
.area_c {width:614px; float:left; display:inline; margin:0 16px 0 0; padding-top:17px;}
.area_r {width:609px; float:left; display:inline; margin:0 13px 0 0; padding-top:17px;}

.m_fenbuyun {width:609px; height:324px; background:url(../images/bg_left.png); position:relative; margin-top:15px;}
.a_funbuyun01 {width:577px; position:absolute; left:32px; top:66px;}
.m_fenbuyun02 {background:url(../images/bg_right.png);}
.m_fenbuyun03 {background:url(../images/bg_right02.png);}
.m_fenbuyun04 {width:618px; height:331px; background:url(../images/bg_center.png); margin-top:10px;}
.a_funbuyun01 table {width:94%;}
.a_funbuyun01 table tr th {line-height:30px; font-weight:left; color:#bcd7fe; background:#1d3f6e; text-align:left;}
.a_funbuyun01 table tr th:nth-child(1) {width:228px; padding-left:24px;}
.a_funbuyun01 table tr td p {line-height:20px; margin-top:17px; background:#091b30;}
.a_funbuyun01 table tr td:nth-child(1) {width:228px; color:#fff; padding-left:24px;}
.a_funbuyun01 table tr td:nth-child(2) {color:#b56249; text-align:left;}
.a_funbuyun01 table tr td:nth-child(3) {color:#d8a55b; text-align:left;}

.a_funbuyun03 {top:50px;}
.a_funbuyun01 h6 {width:100%; font-size:16px; text-align:center; color:#8db0e3; padding-bottom:7px;}

.tabP {text-align:center; color:#8db0e3; opacity:0.2; padding-top:5px;}


h3.normal01 {width:562px; height:16px; position:absolute; font-size:15px; left:25px; top:12px; color:#fff; font-weight:normal;}
h3.normal02 {width:562px; height:16px; position:absolute; font-size:17px; left:25px; top:14px; color:#00f6ff; font-weight:normal; font-family:STXingkai;}
h3.normal03 {width:562px; height:16px; position:absolute; font-size:17px; left:25px; top:14px; color:#00f6ff; font-weight:normal; font-family:STXingkai;}
span.validMore {position:absolute; right:0; top:0; font-size:14px; text-align:right;}
span.validMore img {margin-right:30px; cursor:pointer;}

.ultraSelect {position:absolute; top:0; right:40px; }
.ultraSelect select {background:none; appearance:none; -webkit-appearance:none; -moz-appearance:none; color:#aaa; height:20px; position:relative; display:block; width:125px; -ms-appearance:none;}
.ultraSelect:after {content:' '; width:0; height:0; border-left:5px solid transparent; border-right:5px solid transparent; border-top:5px solid #aaa; right:0; top:8px; display:block; position:absolute; pointer-events:none;}
.ultraSelect select::-ms-expand { display: none; }
#c1{height:250px;}
#c2{height:250px;}
#c3{height:250px;}
#c4{height:250px;}
#c5{height:250px;}
#c6{height:250px;}
#c7{height:250px;}
#c8{height:250px;}
#c9{height:250px;}


/** table **/
table.tftable {
    font-size: 12px;
    color: #333333;
    width: 560px;
    border-width: 1px;
    border-color: #729ea5;
    border-collapse: collapse;
}
table.tftable th {
    font-size: 14px;
    font-weight: 200;
    background-color: #1d3f6e;
    border-width: 1px;
    padding: 2px;
    border-style: solid;
    border-color: #729ea5;
    text-align: left;
    position: relative;

}

table.tftable td {
    font-size: 12px;
    border-width: 1px;
    padding: 2px;
    border-style: solid;
    border-color: #729ea5;
    color: #ffffff;
}
table.tftable tr.money td {color:#b56249; text-align:left;padding-left: 10px;padding-right: 10px;}
table.tftable tr.counts td {color:#d8a55b; text-align:left;padding-left: 10px;padding-right: 10px;}
table.tftable tr td.title{color:#fff; text-align:left;}
/*table增加斜线*/
table.tftable th[class=first]:before{
    content: "";
    position: absolute;
    width: 1px;
    height:260px;/*这里需要自己调整，根据td的宽度和高度*/
    top:0;
    left:0;
    background-color: #729ea5;
    display: block;
    transform: rotate(-82.5deg);/*这里需要自己调整，根据线的位置*/
    transform-origin: top;
}