{% load static %}
<!DOCTYPE html>
<html>
<header>
    <meta charset="utf-8">
    <!-- 引入 ECharts 文件 -->
   <script src="{% static 'js/echarts.min.js'%}"></script>
</header>
<body>
    <!-- 为 ECharts 准备一个具备大小（宽高）的Dom -->
    <div id="main" style="width: 100%;height:250px;" onload="drawBar();"></div>
    <script type="text/javascript">
        // 基于准备好的dom，初始化echarts实例
     var myChart = echarts.init(document.getElementById('main'));

        // 指定图表的配置项和数据
       var option = {
           barWidth:30,//条形的宽的为30
           tooltip: {},
           legend: {//说明
                    //orient: 'vertical', //说明显示在的位置所在
                    // center: 'center ',//说明的位置居中显示 默认居中横排显示
                    data:['累积', '新增']//数据说明
                    },
           xAxis: {//X轴上的内容
                    type : 'category',
                    axisLabel:{
                        //横坐标上的文字斜着显示 文字颜色 begin 
                             interval:0,
                            rotate:45,
                             margin:2,
                             textStyle:{color:"#ec6869" }
                        //横坐标上的文字换行显示 文字颜色end
                             },
                    type : 'category',
                    data: ["饭店供应商数量","酒店供应商数量","合作大巴公司数量","保险供应商数量","票务供应商数量"]
                  },
            yAxis: {//Y轴上的内容
                     type : 'value'
                   },
            series: [
                //第一条数据 begin
                    {
                    type: 'bar',//Echart 柱状图（bar）
                    name:'累积',
                    data: [610, 700, 400, 600, 500],
                        //柱状条颜色的设置为#eb6768 begin
                        itemStyle: {
                                normal: {
                                color: '#eb6768',
                                shadowBlur: 2,
                                shadowColor: 'rgba(3, 3, 4, 0.5)'
                                        }
                                    }
                        //柱状条颜色的设置为#eb6768 end
                    },
                 //第一条数据 end
                 
                 //第二条数据 begin    
                    {
                    type: 'bar',
                    name:'新增',
                    data: [510, 400, 300, 200, 100],
                    //柱状条颜色的设置为#eb6768 begin
                    itemStyle: {
                            normal: {
                                color: '#3b8ede',
                                shadowBlur: 2,
                                shadowColor: 'rgba(3, 3, 4, 0.5)'
                                  }
                               }
                    //柱状条颜色的设置为#eb6768  end    
                  } 
               //第二条数据 end    
               ] 
             };
       

        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
    </script>
</body>
</html>