{% extends '_base.html' %}
{% load static %}

{% block title %}科技政务大数据平台{% endblock %}
{% block  content%}

<link href="{% static 'css/govPolicy.css' %}" rel="stylesheet">    
 <link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.min.css' %}">
	<script src="{% static 'js/echarts.min.js'%}"></script>
<!-- <link rel="stylesheet" href="{% static 'tubiao/css/ver1.0.css' %}" type="text/css" />
 --><script src="{% static 'lib/jQuery/jquery-3.2.1.min.js' %}"></script>
<!-- <script src="{% static 'lib/echarts/echarts.min.js' %}"></script>
 -->

<div class="container">
    <!-- <h1>Hello, world!</h1> -->
    <div class="row">
        <div class="col-md-2" >
            <nav class="navbar nav-tabs" role="navigation" id="govNav">
				<div class="collapse navbar-collapse navbar-ex1-collapse nav-stacked"> 
					<ul class="nav nav-tabs nav-stacked"> 
						<li class="dropdown">
							<a href="govPolicyMacroRegion.html" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-caret-square-o-down"></i>
								宏观对比 <b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li><a href="govPolicyMacroRegion.html">不同地区对比</a></li>
								<li><a href="govPolicyMacroTime.html">不同时间对比</a></li>
								<li><a href="govPolicyMacroBusiness.html">不同行业对比</a></li>
							</ul>
						</li>
						<li class="dropdown">
							<a href="govPolicyMicroCom.html" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-caret-square-o-down"></i>
								微观统计 <b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li><a href="govPolicyMicroCom.html">企业发展状况对比</a></li>
							</ul>
						</li>
							<li class="dropdown">
							<a href="govPolicyAnalysis.html" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-caret-square-o-down"></i>
								分析评价 <b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li><a href="govPolicyAnalysis.html">归因分析</a></li>
								<li><a href="govPolicyAnalysisPrediction.html">预测评价</a></li>
							</ul>
						</li>
					</ul>
				</div>
			</nav>
        </div>

		<!-- TABLES --> 
        <div class="col-md-10">

		    {% block  contentTable%}

			{% endblock contentTable%}

        </div>
    </div>
</div>

<!-- <script src="{% static 'js/govPolicyExamples.js' %}" type="text/javascript"></script>
 -->
{% endblock content%}
