{% extends '_base.html' %}
{% load static %}

{% block title %}某公司{% endblock title%}

{% block content%}
<div class="row">
    <div class="col-lg-12">
        <ol class="breadcrumb">
            <li><a href="predictPart"><i class="fa fa-dashboard"></i> 上海市</a></li>
            <li href="predictCom"><i class="fa fa-table"></i> 某区某行业</li>
            <li class="active"><i class="fa fa-table"></i> 某公司</li>
        </ol>
    </div>
</div><!-- /.row -->

<div class="row">
    <div class="col-lg-3">
        
    </div>
    <div class="col-lg-6">
        <div class="form-group">
            <input type="text" id="ComName" name="ComName" class="form-control">
        </div>
        <button type="button" id='ComSearch' class="btn btn-default">查找</button>

    </div>
    <div class="col-lg-3">

    </div>
</div>

<script>
    $("#ComSearch").click(function () {
        var ComName = $("#ComName").val();
        $.get("getByComName", {
            'name': ComName
        }, function (ret) {
            myChart3.setOption({
                series: [{
                    data: ret['data'][0]
                }]
            });
            myChart4.setOption({
                series: [{
                    data: ret['data'][1]
                }]
            });
            myChart5.setOption({
                series: [{
                    data: ret['data'][2]
                }]
            });
            myChart31.setOption({
                series: [{
                        data: ret['changeToBar'][0][0]
                    },
                    {
                        data: ret['changeToBar'][0][1]
                    },
                ]
            });
            myChart41.setOption({
                series: [{
                        data: ret['changeToBar'][1][0]
                    },
                    {
                        data: ret['changeToBar'][1][1]
                    },
                ]
            });
            myChart51.setOption({
                series: [{
                        data: ret['changeToBar'][2][0]
                    },
                    {
                        data: ret['changeToBar'][2][1]
                    },
                ]
            });
            // alert(Math.max.apply(null,ret['radar'][1]));
            myChart1.setOption({
                    radar: {
                        // shape: 'circle',
                        indicator: [{
                                name: '每股收益',
                                max: Math.max.apply(null, ret['radar'][0])
                            },
                            {
                                name: '销售净利润',
                                max: Math.max.apply(null, ret['radar'][1])
                            },
                            {
                                name: '经营活动净收益',
                                max: Math.max.apply(null, ret['radar'][2])
                            },
                            {
                                name: '净资产收益率',
                                max: 6500
                            },
                            {
                                name: '经营活动净收益',
                                max: 6500
                            },
                            {
                                name: '营业总收入',
                                max: 16000
                            },
                            {
                                name: '成本费用利润率',
                                max: 30000
                            },
                            {
                                name: '总资产净利率',
                                max: 38000
                            },
                            {
                                name: '销售费用',
                                max: 52000
                            }
                            // {name: '管理费用', max: 25000}
                        ]
                    },
                    series: [{
                        data: [{
                                value: function () {
                                    list = [];
                                    // for(var i=0;i<2;i++){
                                    for (var j = 0; j < 3; j++) {
                                        list.push(ret['radar'][j][0])
                                    }
                                    // }
                                    return list.concat([5000, 4300, 10000, 28000,
                                        35000, 50000
                                    ]);
                                }(),
                                name: '2017.4'
                            },
                            {
                                value: function () {
                                    list = [];
                                    // for(var i=0;i<2;i++){
                                    for (var j = 0; j < 3; j++) {
                                        list.push(ret['radar'][j][1])
                                    }
                                    // }
                                    return list.concat([5000, 4300, 10000, 28000,
                                        35000, 50000
                                    ]);
                                }(),
                                name: '2018.1'
                            },
                            {
                                value: function () {
                                    list = [];
                                    // for(var i=0;i<2;i++){
                                    for (var j = 0; j < 3; j++) {
                                        list.push(ret['radar'][j][2])
                                    }
                                    // }
                                    return list.concat([5000, 4300, 10000, 28000,
                                        35000, 50000
                                    ]);
                                }(),
                                name: '2018.2'
                            },
                            {
                                value: function () {
                                    list = [];
                                    // for(var i=0;i<2;i++){
                                    for (var j = 0; j < 3; j++) {
                                        list.push(ret['radar'][j][3])
                                    }
                                    // }
                                    return list.concat([5000, 4300, 10000, 28000,
                                        35000, 50000
                                    ]);
                                }(),
                                name: '2018.3'
                            }
                        ]
                    }]
                }


            );
        })
    });
</script>

<div class="row">
    <div class="col-lg-2">

    </div>
    <div class="col-lg-8">
        <div id="radar" style="height: 500px" style=""></div>
    </div>

    <div class="col-lg-2">

    </div>
</div><!-- /.row -->
<div class="row">
    <div class="col-lg-2">

    </div>
    <div class="col-lg-4">
        <div id="Eps1" style="height:400px"></div>
    </div>
    <div class="col-lg-4">
        <div id="Eps2" style="height:400px"></div>
    </div>
    <div class="col-lg-2">

    </div>
</div><!-- /.row -->
<div class="row">
    <div class="col-lg-2">

    </div>
    <div class="col-lg-4">
        <div id="Jlr1" style="height:400px"></div>
    </div>
    <div class="col-lg-4">
        <div id="Jlr2" style="height:400px"></div>
    </div>
    <div class="col-lg-2">

    </div>
</div><!-- /.row -->
<div class="row">
    <div class="col-lg-2">

    </div>
    <div class="col-lg-4">
        <div id="Jsy1" style="height:400px"></div>
    </div>
    <div class="col-lg-4">
        <div id="Jsy2" style="height:400px"></div>
    </div>
    <div class="col-lg-2">

    </div>
</div><!-- /.row -->
<div class="row">
    <div class="col-lg-2">

    </div>
    <div class="col-lg-8">
        <div id="chart1" style="height:300px"></div>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<script>
    var dom = document.getElementById("chart1");
    var myChart2 = echarts.init(dom);
    var app = {};
    option2 = null;


    var data = [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,
        0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 313065408.0, -612934592.0, -766934592.0, -1691836480.0, -816967296.0, -
        1273934592.0, -1919967296.0, 1708032704.0, 1823032704.0, -763934592.0, 1027065408.0, 818065408.0,
        1623065408.0, -769934592.0, -1680934592.0, 96065408.0, -622934592.0, 694032704.0, -524967296.0,
        1630000000.0, 1329032704.0, -271967296.0, 2092967296.0, -688967296.0, 1493065408.0, 1872032704.0, -
        1074934592.0, 589000000.0, -1353934592.0, -1674901888.0, 579065408.0, 194032704.0, -575901888.0,
        2047130816.0, -1919967296.0, 853000000.0, 987032704.0, 899032704.0, -1129967296.0, 1354032704.0,
        1863032704.0, 1824032704.0, 1740098112.0, 1193032704.0, 704098112.0, -1343967296.0, -785967296.0
    ]

    option2 = {
        title: {
            text: '净利润预测',
            left: 0
        },
        tooltip: {
            trigger: 'axis',
            axisPointer: {
                type: 'line'
            }
        },
        grid: {
            left: '10%',
            right: '10%',
            bottom: '15%'
        },
        xAxis: {
            type: 'category',
            data: function () {
                var list = [];
                for (var i = 2000; i <= 2018; i++) {
                    for (var j = 1; j <= 4; j++) {
                        if (i == 2018 && j == 4) break
                        list.push(i + '年.' + j);
                    }
                }
                return list;
            }(),
        },
        yAxis: {
            scale: true,
            splitArea: {
                show: true
            }
        },
        dataZoom: [

            {
                show: true,
                type: 'slider',
                y: '90%',
                start: 50,
                end: 100
            }
        ],
        series: [{
                name: '净利润',
                type: 'line',
                data: data,
                smooth: true,
                lineStyle: {
                    normal: {
                        opacity: 0.5
                    }
                }
            },

        ]
    };
    myChart2.setOption(option2, true);
</script>


<script type="text/javascript">
    var dom = document.getElementById("radar");
    var myChart1 = echarts.init(dom);
    var app = {};
    option = null;
    app.title = '堆叠条形图';
    option = {
        title: {
            // text: '基础雷达图'
        },
        tooltip: {},
        legend: {
            data: ['2017.4', '2018.1', '2018.2', '2018.3']
        },
        radar: {
            shape: 'circle',
            indicator: [{
                    name: '每股收益',
                    max: 0
                },
                {
                    name: '销售净利润',
                    max: 0
                },
                {
                    name: '经营活动净收益',
                    max: 0
                },
                {
                    name: '净资产收益率',
                    max: 6500
                },
                {
                    name: '经营活动净收益',
                    max: 6500
                },
                {
                    name: '营业总收入',
                    max: 16000
                },
                {
                    name: '成本费用利润率',
                    max: 30000
                },
                {
                    name: '总资产净利率',
                    max: 38000
                },
                {
                    name: '销售费用',
                    max: 52000
                }
            ]
        },
        series: [{
            name: '预算 vs 开销（Budget vs spending）',
            type: 'radar',
            // areaStyle: {normal: {}},
            data: [{
                    value: [],
                    name: '2017.4'
                },
                {
                    value: [],
                    name: '2018.1'
                },
                {
                    value: [],
                    name: '2018.2'
                },
                {
                    value: [],
                    name: '2018.3'
                }
            ]
        }]
    };
    if (option && typeof option === "object") {
        myChart1.setOption(option, true);
    }
</script>

<!-- Eps -->
<script type="text/javascript">
    var dom1 = document.getElementById("Eps1");
    var dom2 = document.getElementById("Eps2");
    var myChart3 = echarts.init(dom1);
    var myChart31 = echarts.init(dom2);
    var app = {};
    option = null;
    option1 = null;
    option = {
        title: {
            text: 'EPS（每股收益）',
        },
        grid: {
            left: '13%',
            right: '4%',
            bottom: '3%',
            containLabel: true
        },
        xAxis: {
            type: 'category',
            data: function () {
                var list = [];
                for (var i = 2000; i <= 2018; i++) {
                    for (var j = 1; j <= 4; j++) {
                        if (i == 2018 && j == 4) break
                        list.push(i + '年.' + j);
                    }
                }
                return list;
            }()
        },
        yAxis: {
            type: 'value'
        },
        series: [{
            data: [],
            type: 'line'
        }]
    };
    option1 = {
        title: {
            text: 'EPS较上季度变化情况',
        },
        tooltip: {
            trigger: 'axis',
            axisPointer: { // 坐标轴指示器，坐标轴触发有效
                type: 'shadow' // 默认为直线，可选为：'line' | 'shadow'
            },
            formatter: function (params) {
                var tar;
                if (params[1].value != '-') {
                    tar = params[1];
                } else {
                    tar = params[0];
                }
                return tar.name + '<br/>' + tar.seriesName + ' : ' + tar.value;
            }
        },
        // legend: {
        //     data:['支出','收入']
        // },
        grid: {
            left: '3%',
            right: '4%',
            bottom: '3%',
            containLabel: true
        },
        xAxis: {
            type: 'category',
            splitLine: {
                show: false
            },
            data: function () {
                var list = [];
                for (var i = 2000; i <= 2018; i++) {
                    for (var j = 1; j <= 4; j++) {
                        if (i == 2018 && j == 4) break
                        list.push(i + '年第' + j + '季度');
                    }
                }
                return list.splice(1, list.length - 1);
            }()
        },
        yAxis: {
            type: 'value'
        },
        series: [{
                name: '较上季度增长',
                type: 'bar',
                // label: {
                //     normal: {
                //         show: true,
                //         position: 'top'
                //     }
                // },
                data: []
            },
            {
                name: '较上季度减少',
                type: 'bar',
                stack: '总量',
                // label: {
                //     normal: {
                //         show: true,
                //         position: 'bottom'
                //     }
                // },
                data: []
            }
        ]
    };

    if (option && typeof option === "object") {
        myChart3.setOption(option, true);
    }
    if (option1 && typeof option1 === "object") {
        myChart31.setOption(option1, true);
    }
</script>

<!-- 净利润 -->
<script type="text/javascript">
    var dom1 = document.getElementById("Jlr1");
    var dom2 = document.getElementById("Jlr2");
    var myChart4 = echarts.init(dom1);
    var myChart41 = echarts.init(dom2);
    var app = {};
    option = null;
    option1 = null;
    option = {
        title: {
            text: '公司净利润',
        },
        grid: {
            left: '3%',
            right: '4%',
            bottom: '3%',
            containLabel: true
        },
        xAxis: {
            type: 'category',
            data: function () {
                var list = [];
                for (var i = 2000; i <= 2018; i++) {
                    for (var j = 1; j <= 4; j++) {
                        if (i == 2018 && j == 4) break
                        list.push(i + '年.' + j);
                    }
                }
                return list;
            }()
        },
        yAxis: {
            type: 'value'
        },
        series: [{
            data: [],
            type: 'line'
        }]
    };
    option1 = {
        title: {
            text: 'EPS较上季度变化情况',
        },
        tooltip: {
            trigger: 'axis',
            axisPointer: { // 坐标轴指示器，坐标轴触发有效
                type: 'shadow' // 默认为直线，可选为：'line' | 'shadow'
            },
            formatter: function (params) {
                var tar;
                if (params[1].value != '-') {
                    tar = params[1];
                } else {
                    tar = params[0];
                }
                return tar.name + '<br/>' + tar.seriesName + ' : ' + tar.value;
            }
        },
        // legend: {
        //     data:['支出','收入']
        // },
        grid: {
            left: '3%',
            right: '4%',
            bottom: '3%',
            containLabel: true
        },
        xAxis: {
            type: 'category',
            splitLine: {
                show: false
            },
            data: function () {
                var list = [];
                for (var i = 2000; i <= 2018; i++) {
                    for (var j = 1; j <= 4; j++) {
                        if (i == 2018 && j == 4) break
                        list.push(i + '年第' + j + '季度');
                    }
                }
                return list.splice(1, list.length - 1);
            }()
        },
        yAxis: {
            type: 'value'
        },
        series: [{
                name: '较上季度增长',
                type: 'bar',
                // label: {
                //     normal: {
                //         show: true,
                //         position: 'top'
                //     }
                // },
                data: []
            },
            {
                name: '较上季度减少',
                type: 'bar',
                stack: '总量',
                // label: {
                //     normal: {
                //         show: true,
                //         position: 'bottom'
                //     }
                // },
                data: []
            }
        ]
    };

    if (option && typeof option === "object") {
        myChart4.setOption(option, true);
    }
    if (option1 && typeof option1 === "object") {
        myChart41.setOption(option1, true);
    }
</script>

<!-- 净收益 -->
<script type="text/javascript">
    var dom1 = document.getElementById("Jsy1");
    var dom2 = document.getElementById("Jsy2");
    var myChart5 = echarts.init(dom1);
    var myChart51 = echarts.init(dom2);
    var app = {};
    option = null;
    option1 = null;
    option = {
        title: {
            text: '公司净收益',
        },
        grid: {
            left: '3%',
            right: '4%',
            bottom: '3%',
            containLabel: true
        },
        xAxis: {
            type: 'category',
            data: function () {
                var list = [];
                for (var i = 2000; i <= 2018; i++) {
                    for (var j = 1; j <= 4; j++) {
                        if (i == 2018 && j == 4) break
                        list.push(i + '年.' + j);
                    }
                }
                return list;
            }()
        },
        yAxis: {
            type: 'value'
        },
        series: [{
            data: [],
            type: 'line'
        }]
    };
    option1 = {
        title: {
            text: '较上季度变化情况',
        },
        tooltip: {
            trigger: 'axis',
            axisPointer: { // 坐标轴指示器，坐标轴触发有效
                type: 'shadow' // 默认为直线，可选为：'line' | 'shadow'
            },
            formatter: function (params) {
                var tar;
                if (params[1].value != '-') {
                    tar = params[1];
                } else {
                    tar = params[0];
                }
                return tar.name + '<br/>' + tar.seriesName + ' : ' + tar.value;
            }
        },
        // legend: {
        //     data:['支出','收入']
        // },
        grid: {
            left: '3%',
            right: '4%',
            bottom: '3%',
            containLabel: true
        },
        xAxis: {
            type: 'category',
            splitLine: {
                show: false
            },
            data: function () {
                var list = [];
                for (var i = 2000; i <= 2018; i++) {
                    for (var j = 1; j <= 4; j++) {
                        if (i == 2018 && j == 4) break
                        list.push(i + '年第' + j + '季度');
                    }
                }
                return list.splice(1, list.length - 1);
            }()
        },
        yAxis: {
            type: 'value'
        },
        series: [{
                name: '较上季度增长',
                type: 'bar',
                // label: {
                //     normal: {
                //         show: true,
                //         position: 'top'
                //     }
                // },
                data: []
            },
            {
                name: '较上季度减少',
                type: 'bar',
                stack: '总量',
                // label: {
                //     normal: {
                //         show: true,
                //         position: 'bottom'
                //     }
                // },
                data: []
            }
        ]
    };

    if (option && typeof option === "object") {
        myChart5.setOption(option, true);
        myChart51.setOption(option, true);
    }
    if (option1 && typeof option1 === "object") {
        myChart51.setOption(option1, true);
    }
</script>



<!-- <script type="text/javascript">
    var dom1 = document.getElementById("benifit_bar1");
    var dom2 = document.getElementById("benifit_bar2");
    var myChart3 = echarts.init(dom1);
    var myChart31 = echarts.init(dom2);
    var app = {};
    option = null;
    option = {
        title: {
            text: '净利润',
            // subtext: 'From ExcelHome',
            // sublink: 'http://e.weibo.com/1341556070/Aj1J2x5a5'
        },
        tooltip: {
            trigger: 'axis',
            axisPointer: {            // 坐标轴指示器，坐标轴触发有效
                type: 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
            },
            formatter: function (params) {
                var tar;
                if (params[1].value != '-') {
                    tar = params[1];
                }
                else {
                    tar = params[0];
                }
                return tar.name + '<br/>' + tar.seriesName + ' : ' + tar.value;
            }
        },
        // legend: {
        //     data:['支出','收入']
        // },
        grid: {
            left: '3%',
            right: '4%',
            bottom: '3%',
            containLabel: true
        },
        xAxis: {
            type: 'category',
            splitLine: {show: false},
            data: function () {
                var list = [];
                for (var i = 2006; i <= 2017; i++) {
                    list.push(i + '年');
                }
                return list;
            }()
        },
        yAxis: {
            type: 'value'
        },
        series: [
            {
                name: '辅助',
                type: 'bar',
                stack: '总量',
                itemStyle: {
                    normal: {
                        barBorderColor: 'rgba(0,0,0,0)',
                        color: 'rgba(0,0,0,0)'
                    },
                    emphasis: {
                        barBorderColor: 'rgba(0,0,0,0)',
                        color: 'rgba(0,0,0,0)'
                    }
                },
                data: [0, 900, 1245, 1530, 1376, 1376, 1511, 1689, 1856, 1495, 1292]
            },
            {
                name: '收入',
                type: 'bar',
                stack: '总量',
                label: {
                    normal: {
                        show: true,
                        position: 'top'
                    }
                },
                data: [900, 345, 393, '-', '-', 135, 178, 286, '-', '-', '-']
            },
            {
                name: '支出',
                type: 'bar',
                stack: '总量',
                label: {
                    normal: {
                        show: true,
                        position: 'bottom'
                    }
                },
                data: ['-', '-', '-', 108, 154, '-', '-', '-', 119, 361, 203]
            }
        ]
    };
    if (option && typeof option === "object") {
        myChart3.setOption(option, true);
        myChart31.setOption(option, true);
    }
</script>

<script type="text/javascript">
    var dom1 = document.getElementById("rate_bar1");
    var dom2 = document.getElementById("rate_bar2");
    var myChart4 = echarts.init(dom1);
    var myChart41 = echarts.init(dom2);
    var app = {};
    option = null;
    option = {
        title: [
            {
                text: '增长率',
                // left: 'center',
                // top: 20,
                // textStyle: {
                //     color: 'blue',
                //fontSize: '14',
                // },
            },
            //     {
            //         text: '实验室',
            //         //borderColor: '#999',
            //         //borderWidth: 1,
            //         textStyle: {
            //             fontSize: 14
            //         },
            //         left: 'center',
            //         top: '88%'
            //     },
        ],
        tooltip: {
            trigger: 'axis',//坐标轴触发，主要在柱状图，折线图等会使用类目轴的图表中使用。
            axisPointer: { // 坐标轴指示器，坐标轴触发有效
                type: 'shadow' // 默认为直线，可选为：'line' | 'shadow' |'cross'
            }
        },
        // legend: {
        //     data: ['利润', '支出'],
        //     //bottom: '0',
        // },
        grid: {
            left: '3%',
            right: '4%',
            bottom: '3%',
            containLabel: true
        },
        xAxis: [{
            type: 'category',
            axisTick: { //坐标轴刻度相关设置。
                show: false,
            },
            data: function () {
                var list = [];
                for (var i = 2006; i <= 2017; i++) {
                    list.push(i + '年');
                }
                return list;
            }(),
//                      axisLine: {
//                          //show: true, //是否显示坐标轴轴线。
//                          //onZero:false,//X 轴或者 Y 轴的轴线是否在另一个轴的 0 刻度上，只有在另一个轴为数值轴且包含 0 刻度时有效。
//                          //symbol:'arrow', //轴线两边的箭头
////                            lineStyle: {
////                                width: 2,
////                                color: 'green',
////                            },
//                      },

        }],
        yAxis: [{
            type: 'value',
            // name: 'Z值',
            nameLocation: 'center',
            nameGap: 40
        }],
        series: [
            // {
            //     name: '利润',
            //     type: 'bar',
            //     label: { //图形上的文本标签，可用于说明图形的一些数据信息，比如值，名称等
            //         normal: { //正常情况
            //             show: true, //是否显示标签
            //             position: 'inside', //标签的位置。
            //             distance: 5, //距离图形元素的距离。当 position 为字符描述值（如 'top'、'insideRight'）时候有效。default: 5
            //             rotate: 0, //标签旋转。从 -90 度到 90 度。正值是逆时针。

            //         }
            //     },
            //     data: [200, ,170,0, 240, 0,244, 0,200]
            // }
            {
                name: '收入',
                type: 'bar',
                stack: '总量', //数据堆叠，同个类目轴上系列配置相同的stack值可以堆叠放置。
                label: {
                    normal: {
                        show: true, //是否显示标签
                        position: 'inside', //标签的位置。
                    }
                },
                data: [320, '-', 342, '-', 390, '-', 420, '-', 330]
            },
            {
                name: '支出',
                type: 'bar',
                stack: '总量',
                label: {
                    normal: {//正常情况
                        show: true, //是否显示标签
                        position: 'inside'
                    }
                },
                data: ['-', -120, '-', -132, '-', -102, '-', -134, 0]
            }
        ]
    };
    if (option && typeof option === "object") {
        myChart4.setOption(option, true);
        myChart41.setOption(option, true);
    }

</script> -->
{% endblock content%}