{% extends '_baseAdmin.html' %}
{% load static %}
{% block title %}数据导出{% endblock title%}
{% block content%}
<div class="row">
    <div class="col-lg-12">
        <div>
            <div class="form-group">
                <label><h3>查询SQL语句</h3></label>
                <textarea class="form-control" rows="3"></textarea>
                <div>&nbsp </div>
                <button type="button" class="btn btn-primary search">查询</button>
            </div>
        </div>
        <div class="step3">
            <div class="form-group">
                <label><h3>查询结果</h3></label>
                <table id="tb_order" class="table table-bordered">
                    <tr>
                        <th><input type="checkbox" value=""></th>
                        <th>com_id</th>
                        <th>com_name</th>
                        <th>bf_141</th>
                        <th>bf_142</th>
                        <th>bf_143</th>
                        <th>bf_144</th>
                        <th>bf_151</th>
                        <th>bf_152</th>
                        <th>bf_153</th>
                        <th>bf_154</th>
                        <th>bf_161</th>
                        <th>bf_162</th>
                        <th>bf_163</th>
                        <th>bf_164</th>
                        <th>bf_171</th>
                        <th>bf_172</th>
                        <th>bf_173</th>
                        <th>bf_174</th>
                    </tr>
                    <tr>
                        <td>
                            <input type="checkbox" value=""></td>
                        <td>727298</td>
                        <td>上海朗脉洁净技术股份有限公司</td>
                        <td>117.30</td>
                        <td>178.43</td>
                        <td>65.33</td>
                        <td>175.50</td>
                        <td>124.50</td>
                        <td>131.84</td>
                        <td>187.08</td>
                        <td>NULL</td>
                        <td>117.30</td>
                        <td>178.43</td>
                        <td>65.33</td>
                        <td>175.50</td>
                        <td>124.50</td>
                        <td>131.84</td>
                        <td>187.08</td>
                        <td>NULL</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div><!-- /.row -->
{% endblock content%}