{% extends 'base_govPolicy.html' %}
{% load static %}


{% block  contentTable %}

<!-- 标题 -->
<h2 align="center">上海市企业扶持绩效分析评价</h2>


<!-- <h3>上海市资助行业归因分析</h3>
 -->
<div class="row" style = "margin-top: 40px;">
	<div class="col-lg-12">
		<ol class="breadcrumb">
			<li class="active"><h3> 1. 企业营收归因分析</h3></li>
		</ol>
	</div>
</div><!-- /.row -->

<script src="http://echarts.baidu.com/dist/echarts.min.js"></script>


<!-- 首行选择框 -->
 <div class="row">
	<div class="col-md-2">
	<p>地区：</p>
	<div class="form-group">
			<select class="selectpicker">
				<option>徐家汇</option>
				<option>闵行</option>
				<option>浦东</option>
			</select>
	</div>
	</div>

	<div class="col-md-2">
	<p>时间：</p>
	<div class="form-group">
			<select class="selectpicker">
				<option>2018</option>
				<option>2017</option>
				<option>2016</option>
			</select>
	</div>
	</div>

	<div class="col-md-2">
	<p>行业：</p>
	<div class="form-group">
			<select class="selectpicker">
				<option>互联网</option>
				<option>医疗</option>
				<option>物流</option>
			</select>
	</div>
	</div>

	<div class="col-md-2">
		<button type="button" class="btn btn-secondary">查询</button>
	</div>
	<div class="col-md-2">
	</div>
	<div class="col-md-2">
	</div>
</div>

<!-- 图表显示第二行 -->
<div class="row">
<div class="col-md-12">
	<div id="chart1" style="width: 900px;height:500px; position: relative;left: 20%;"></div> <!-- style="width:90%; height: 400px;" -->
</div>
</div>


<div class="row" style = "margin-top: 40px;">
	<div class="col-lg-12">
		<ol class="breadcrumb">
			<li class="active"><h3> 2. 政府资助绩效归因</h3></li>
		</ol>
	</div>
</div><!-- /.row -->

<h3>(1)资助行业选择状况归因</h3>

<!-- 图表显示第一行 -->
<div class="row">
	<div class="col-md-6">
		<table class="table table-striped" style="width:90%;">
		<caption>行业受资助情况及产生的收益</caption>
		<thead>
			<tr>
				<th>行业</th>
				<th>组合权重(Wp)</th>
				<th>基准权重(Wb)</th>
				<th>组合回报(Rp)</th>
				<th>基准回报(Rb)</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>金融行业</td>
				<td>70%</td>
				<td>40%</td>
				<td>40%</td>
				<td>15%</td>
			</tr>
			<tr>
				<td>互联网行业</td>
				<td>20%</td>
				<td>40%</td>
				<td>15%</td>
				<td>10%</td>
			</tr>
			<tr>
				<td>制造业</td>
				<td>10%</td>
				<td>20%</td>
				<td>5%</td>
				<td>5%</td>
			</tr>
			<tr>
				<td>Total</td>
				<td>100%</td>
				<td>100%</td>
				<td>31.50%(Rp*Wp)</td>
				<td>11.00%(Rb*Wb)</td>
			</tr>
		</tbody>
	</table>
</div>


	<div class="col-md-6">
		<table class="table table-striped" style="width:90%;">
		<caption>资助产生的营收增长归因</caption>
		<thead>
			<tr>
				<th>行业</th>
				<th>企业选择收益(SS)</th>
				<th>行业选择收益(AA)</th>
				<th>交叉收益(I)</th>
				<th>基准回报(Rb)</th>
				<th>总回报(Rb)</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>金融行业</td>
				<td>10.0%</td>
				<td>4.50%</td>
				<td>7.50%</td>
				<td>6.00%</td>
				<td>28.00%</td>
			</tr>
			<tr>
				<td>互联网行业</td>
				<td>2.00%</td>
				<td>-2.00%</td>
				<td>-1.00%</td>
				<td>4.00%</td>
				<td>3.00%</td>
			</tr>
			<tr>
				<td>制造业</td>
				<td>0.00%</td>
				<td>-0.50%</td>
				<td>0.00%</td>
				<td>1.00%</td>
				<td>0.50%</td>
			</tr>
			<tr>
				<td>Total</td>
				<td>12.00%</td>
				<td>2.00%</td>
				<td>6.50%</td>
				<td>11.00%</td>
				<td>31.50%</td>
			</tr>
		</tbody>
	</table>
</div>
</div>


<h3>(2)行业内部资助企业选择情况归因</h3>

<!-- 图表显示第二行 -->
<div class="row">

<div class="col-md-6">
	<table class="table table-striped" style="width:90%;">
		<caption>企业收益情况</caption>
		<thead>
			<tr>
				<th>企业</th>
				<th>1</th>
				<th>2</th>
				<th>3</th>
				<th>4</th>
				<th>5</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>组合权重(Wp)</td>
				<td>0.8</td>
				<td>0</td>
				<td>0.2</td>
				<td>0</td>
				<td>0</td>
			</tr>
			<tr>
				<td>基准权重(Wb)</td>
				<td>0.3</td>
				<td>0.3</td>
				<td>0.1</td>
				<td>0.1</td>
				<td>0.2</td>
			</tr>
			<tr>
				<td>企业收益(Ri)</td>
				<td>2%</td>
				<td>-2%</td>
				<td>1%</td>
				<td>-2%</td>
				<td>0%</td>
			</tr>
		</tbody>
	</table>
</div>

<div class="col-md-6">
				<table class="table table-striped" style="width:90%;">
		<caption>企业受资助权重信息</caption>
		<thead>
			<tr>
				<th>企业</th>
				<th>组合权重(Wp)</th>
				<th>基准权重(Wb)</th>
				<th>标的权重(Wb')</th>
				<th>企业收益(Ri)(%)</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>1</td>
				<td>0.8</td>
				<td>0.3</td>
				<td>0.75</td>
				<td>2</td>
			</tr>
			<tr>
				<td>2</td>
				<td>0</td>
				<td>0.3</td>
				<td>0</td>
				<td>-2</td>
			</tr>
			<tr>
				<td>3</td>
				<td>0.2</td>
				<td>0.1</td>
				<td>0.25</td>
				<td>1</td>
			</tr>
			<tr>
				<td>4</td>
				<td>0</td>
				<td>0.1</td>
				<td>0</td>
				<td>-2</td>
			</tr>
			<tr>
				<td>5</td>
				<td>0</td>
				<td>0.2</td>
				<td>0</td>
				<td>0</td>
			</tr>
		</tbody>
	</table>
</div>

</div>


<!-- 图表显示第三行 -->
<div class="row">

<div class="col-md-6">
	<table class="table table-striped" style="width:90%;">
		<caption>企业收益归因分析结果</caption>
		<thead>
			<tr>
				<th>企业</th>
				<th>企业选择收益(%)</th>
				<th>行业配置收益(%)</th>
				<th>基准收益(%)</th>
				<th>总收益(%)</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>1</td>
				<td>0.9</td>
				<td>0.1</td>
				<td>0.6</td>
				<td>1.6</td>
			</tr>
			<tr>
				<td>-2</td>
				<td>0.6</td>
				<td>0</td>
				<td>-0.6</td>
				<td>0</td>
			</tr>
			<tr>
				<td>3</td>
				<td>0.15</td>
				<td>-0.05</td>
				<td>0.1</td>
				<td>0.2</td>
			</tr>
			<tr>
				<td>4</td>
				<td>0.2</td>
				<td>0</td>
				<td>-0.2</td>
				<td>0</td>
			</tr>
			<tr>
				<td>5</td>
				<td>0</td>
				<td>0</td>
				<td>0</td>
				<td>0</td>
			</tr>
			<tr>
				<td>总收益</td>
				<td>1.85</td>
				<td>0.05</td>
				<td>-0.1</td>
				<td>1.8</td>
			</tr>
		</tbody>
	</table>
</div>

</div>

<p>参考博客 https://blog.csdn.net/liweijie231/article/details/62216248 </p>

<!-- <script src="{% static 'js/govPolicy.js' %}" type="text/javascript"></script>
 --><script src="{% static 'js/govPolicyAnalysis.js' %}" type="text/javascript"></script>


{% endblock contentTable %}