{% extends '_base.html' %}
{% load static %}
{% block title %}{{title}}{% endblock title%}
{% block content%}
<div class="row">
    <div class="col-lg-12">
        <ol class="breadcrumb">
            <li><a href="predictPart"><i class="fa fa-dashboard"></i> 上海市</a></li>
            <li><a href="predictCom"><i class="fa fa-dashboard"></i> 某区某行业</a></li>
            <!-- <li href="predictCom"><i class="fa fa-table"></i> 某区某行业</li> -->
        </ol>
    </div>
</div><!-- /.row -->
<div class="row">
    <div class="col-lg-2" id="ss">
        <!-- {{data_region}} -->
    </div>
    <div class="col-lg-4">
        <div id="region_pie" style="height: 300px"></div>
    </div>
    <div class="col-lg-4">
        <div id="type_pie" style="height: 300px"></div>
    </div>
    <div class="col-lg-2">
    </div>
</div><!-- /.row -->
<div class="row">
    <div class="col-lg-2">
    </div>
    <div class="col-lg-4">
        <div id="Eps1" style="height:400px"></div>
    </div>
    <div class="col-lg-4">
        <div id="Eps2" style="height:400px"></div>
    </div>
    <div class="col-lg-2">
    </div>
</div><!-- /.row -->
<div class="row">
    <div class="col-lg-2">
    </div>
    <div class="col-lg-4">
        <div id="Jlr1" style="height:400px"></div>
    </div>
    <div class="col-lg-4">
        <div id="Jlr2" style="height:400px"></div>
    </div>
    <div class="col-lg-2">
    </div>
</div><!-- /.row -->
<div class="row">
    <div class="col-lg-2">
    </div>
    <div class="col-lg-4">
        <div id="Jsy1" style="height:400px"></div>
    </div>
    <div class="col-lg-4">
        <div id="Jsy2" style="height:400px"></div>
    </div>
    <div class="col-lg-2">
    </div>
</div><!-- /.row -->
<!-- <div class="row">
        <div class="col-lg-2">
        </div>
        <div class="col-lg-4">
            <div id="Eps3" style="height:400px"></div>
        </div>
        <div class="col-lg-4">
            <div id="Eps4" style="height:400px"></div>
        </div>
        <div class="col-lg-2">
        </div>
    </div> -->
    <!-- /.row -->
<!-- 饼图-区域 -->
<script type="text/javascript">
var region_pie = {{region|safe}};
var type_pie = {{type|safe}};



var dom1 = document.getElementById("region_pie");
var myChart1 = echarts.init(dom1);
option1 = null;
option1 = {

    tooltip: {
        trigger: 'item',
        formatter: "{a} <br/>{b} : {c} ({d}%)"
    },

    series: [{
        name: '区域',
        type: 'pie',
        radius: '55%',
        selectedMode: 'single',
        center: ['50%', '60%'],
        data: region_pie,
        itemStyle: {
            emphasis: {
                shadowBlur: 10,
                shadowOffsetX: 0,
                shadowColor: 'rgba(0, 0, 0, 0.5)'
            }
        }
    }]
};
if (option1 && typeof option1 === "object") {
    myChart1.setOption(option1, true);
}

var dom2 = document.getElementById("type_pie");
var myChart2 = echarts.init(dom2);
option2 = null;
option2 = {

    tooltip: {
        trigger: 'item',
        formatter: "{a} <br/>{b} : {c} ({d}%)"
    },
    series: [{
        name: '类型',
        type: 'pie',
        radius: '55%',
        selectedMode: 'single',
        center: ['50%', '60%'],
        data: type_pie,
        itemStyle: {
            emphasis: {
                shadowBlur: 10,
                shadowOffsetX: 0,
                shadowColor: 'rgba(0, 0, 0, 0.5)'
            }
        }
    }]
};;
if (option2 && typeof option2 === "object") {
    myChart2.setOption(option2, true);
}

myChart1.on('click', function(params) {
    var region = params.name;
    $.getJSON("/getByRegion/",{'region':region}, function(ret){
        myChart3.setOption({                              
                series:[
                    {    
                        data:ret['data'][0]
                    }
                ]
            });
            myChart4.setOption({                              
                series:[
                    {    
                        data:ret['data'][1]
                    }
                ]
            });
            myChart5.setOption({                              
                series:[
                    {    
                        data:ret['data'][2]
                    }
                ]
            });
        myChart31.setOption({                              
                series:[
                    {    
                        data:ret['changeToBar'][0][0]
                    },
                    {    
                        data:ret['changeToBar'][0][1]
                    },
                ]
            });
            myChart41.setOption({                              
                series:[
                    {    
                        data:ret['changeToBar'][1][0]
                    },
                    {    
                        data:ret['changeToBar'][1][1]
                    },
                ]
            });
            myChart51.setOption({                              
                series:[
                    {    
                        data:ret['changeToBar'][2][0]
                    },
                    {    
                        data:ret['changeToBar'][2][1]
                    },
                ]
            });
        })
});

</script>
<script>
myChart2.on('click', function(params) {
    var type = params.name;
    $.getJSON("/getByType/",{'type':type}, function(ret){
        myChart3.setOption({                              
                series:[
                    {    
                        data:ret['data'][0]
                    }
                ]
            });
            myChart4.setOption({                              
                series:[
                    {    
                        data:ret['data'][1]
                    }
                ]
            });
            myChart5.setOption({                              
                series:[
                    {    
                        data:ret['data'][2]
                    }
                ]
            });
        myChart31.setOption({                              
                series:[
                    {    
                        data:ret['changeToBar'][0][0]
                    },
                    {    
                        data:ret['changeToBar'][0][1]
                    },
                ]
            });
            myChart41.setOption({                              
                series:[
                    {    
                        data:ret['changeToBar'][1][0]
                    },
                    {    
                        data:ret['changeToBar'][1][1]
                    },
                ]
            });
            myChart51.setOption({                              
                series:[
                    {    
                        data:ret['changeToBar'][2][0]
                    },
                    {    
                        data:ret['changeToBar'][2][1]
                    },
                ]
            });
        })
    
});
</script>

<!-- Eps -->
<script type="text/javascript">
var dom1 = document.getElementById("Eps1");
var dom2 = document.getElementById("Eps2");
var myChart3 = echarts.init(dom1);
var myChart31 = echarts.init(dom2);
var app = {};
option = null;
option1 = null;
option = {
    title: {
            text: 'EPS（每股收益）',
        },
    grid: {
        left: '13%',
        right: '4%',
        bottom: '3%',
        containLabel: true
    },
    xAxis: {
        type: 'category',
        data: function() {
            var list = [];
            for (var i = 2000; i <= 2018; i++) {
                for (var j = 1; j <= 4; j++) {
                    if (i == 2018 && j == 4) break
                    list.push(i + '年.' + j);
                }
            }
            return list;
        }()
    },
    yAxis: {
        type: 'value'
    },
    series: [{
        data: [],
        type: 'line'
    }]
};
option1 = {
        title: {
            text: 'EPS较上季度变化情况',
        },
        tooltip: {
            trigger: 'axis',
            axisPointer: {            // 坐标轴指示器，坐标轴触发有效
                type: 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
            },
            formatter: function (params) {
                var tar;
                if (params[1].value != '-') {
                    tar = params[1];
                }
                else {
                    tar = params[0];
                }
                return tar.name + '<br/>' + tar.seriesName + ' : ' + tar.value;
            }
        },
        // legend: {
        //     data:['支出','收入']
        // },
        grid: {
            left: '3%',
            right: '4%',
            bottom: '3%',
            containLabel: true
        },
        xAxis: {
            type: 'category',
            splitLine: {show: false},
            data: function () {
                var list = [];
                    for (var i = 2000; i <= 2018; i++) {
                        for (var j = 1; j <= 4; j++) {
                            if (i == 2018 && j == 4) break
                            list.push(i + '年第' + j+'季度');
                        }
                    }
                    return list.splice(1,list.length-1);
            }()
        },
        yAxis: {
            type: 'value'
        },
        series: [
            {
                name: '较上季度增长',
                type: 'bar',
                // label: {
                //     normal: {
                //         show: true,
                //         position: 'top'
                //     }
                // },
                data: []
            },
            {
                name: '较上季度减少',
                type: 'bar',
                stack: '总量',
                // label: {
                //     normal: {
                //         show: true,
                //         position: 'bottom'
                //     }
                // },
                data:[]
            }
        ]
    };

if (option && typeof option === "object") {
    myChart3.setOption(option, true);
}
if (option1 && typeof option1 === "object") {
    myChart31.setOption(option1, true);
}
</script>

<!-- 净利润 -->
<script type="text/javascript">
    var dom1 = document.getElementById("Jlr1");
    var dom2 = document.getElementById("Jlr2");
    var myChart4 = echarts.init(dom1);
    var myChart41 = echarts.init(dom2);
    var app = {};
    option = null;
    option1 = null;
    option = {
        title: {
            text: '公司净利润',
        },
        grid: {
            left: '3%',
            right: '4%',
            bottom: '3%',
            containLabel: true
        },
        xAxis: {
            type: 'category',
            data: function() {
                var list = [];
                for (var i = 2000; i <= 2018; i++) {
                    for (var j = 1; j <= 4; j++) {
                        if (i == 2018 && j == 4) break
                        list.push(i + '年.' + j);
                    }
                }
                return list;
            }()
        },
        yAxis: {
            type: 'value'
        },
        series: [{
            data: [],
            type: 'line'
        }]
    };
    option1 = {
        title: {
            text: '较上季度变化情况',
        },
        tooltip: {
            trigger: 'axis',
            axisPointer: {            // 坐标轴指示器，坐标轴触发有效
                type: 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
            },
            formatter: function (params) {
                var tar;
                if (params[1].value != '-') {
                    tar = params[1];
                }
                else {
                    tar = params[0];
                }
                return tar.name + '<br/>' + tar.seriesName + ' : ' + tar.value;
            }
        },
        // legend: {
        //     data:['支出','收入']
        // },
        grid: {
            left: '3%',
            right: '4%',
            bottom: '3%',
            containLabel: true
        },
        xAxis: {
            type: 'category',
            splitLine: {show: false},
            data: function () {
                var list = [];
                    for (var i = 2000; i <= 2018; i++) {
                        for (var j = 1; j <= 4; j++) {
                            if (i == 2018 && j == 4) break
                            list.push(i + '年第' + j+'季度');
                        }
                    }
                    return list.splice(1,list.length-1);
            }()
        },
        yAxis: {
            type: 'value'
        },
        series: [
            {
                name: '较上季度增长',
                type: 'bar',
                // label: {
                //     normal: {
                //         show: true,
                //         position: 'top'
                //     }
                // },
                data: []
            },
            {
                name: '较上季度减少',
                type: 'bar',
                stack: '总量',
                // label: {
                //     normal: {
                //         show: true,
                //         position: 'bottom'
                //     }
                // },
                data:[]
            }
        ]
    };

    if (option && typeof option === "object") {
        myChart4.setOption(option, true);
    }
    if (option1 && typeof option1 === "object") {
    myChart41.setOption(option1, true);
}
    </script>

<!-- 净收益 -->
<script type="text/javascript">
    var dom1 = document.getElementById("Jsy1");
    var dom2 = document.getElementById("Jsy2");
    var myChart5 = echarts.init(dom1);
    var myChart51 = echarts.init(dom2);
    var app = {};
    option = null;
    option1 = null;
    option = {
        title: {
            text: '公司净收益',
        },
        grid: {
            left: '3%',
            right: '4%',
            bottom: '3%',
            containLabel: true
        },
        xAxis: {
            type: 'category',
            data: function() {
                var list = [];
                for (var i = 2000; i <= 2018; i++) {
                    for (var j = 1; j <= 4; j++) {
                        if (i == 2018 && j == 4) break
                        list.push(i + '年.' + j);
                    }
                }
                return list;
            }()
        },
        yAxis: {
            type: 'value'
        },
        series: [{
            data: [],
            type: 'line'
        }]
    };
    option1 = {
        title: {
            text: '较上季度变化情况',
        },
        tooltip: {
            trigger: 'axis',
            axisPointer: {            // 坐标轴指示器，坐标轴触发有效
                type: 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
            },
            formatter: function (params) {
                var tar;
                if (params[1].value != '-') {
                    tar = params[1];
                }
                else {
                    tar = params[0];
                }
                return tar.name + '<br/>' + tar.seriesName + ' : ' + tar.value;
            }
        },
        // legend: {
        //     data:['支出','收入']
        // },
        grid: {
            left: '3%',
            right: '4%',
            bottom: '3%',
            containLabel: true
        },
        xAxis: {
            type: 'category',
            splitLine: {show: false},
            data: function () {
                var list = [];
                    for (var i = 2000; i <= 2018; i++) {
                        for (var j = 1; j <= 4; j++) {
                            if (i == 2018 && j == 4) break
                            list.push(i + '年第' + j+'季度');
                        }
                    }
                    return list.splice(1,list.length-1);
            }()
        },
        yAxis: {
            type: 'value'
        },
        series: [
            {
                name: '较上季度增长',
                type: 'bar',
                // label: {
                //     normal: {
                //         show: true,
                //         position: 'top'
                //     }
                // },
                data: []
            },
            {
                name: '较上季度减少',
                type: 'bar',
                stack: '总量',
                // label: {
                //     normal: {
                //         show: true,
                //         position: 'bottom'
                //     }
                // },
                data:[]
            }
        ]
    };

    if (option && typeof option === "object") {
        myChart5.setOption(option, true);
        myChart51.setOption(option, true);
    }
    if (option1 && typeof option1 === "object") {
    myChart51.setOption(option1, true);
}
    </script>

<script type="text/javascript">
    var dom1 = document.getElementById("Eps3");
    var dom2 = document.getElementById("Eps4");
    var myChart6 = echarts.init(dom1);
    var myChart61 = echarts.init(dom2);
    var app = {};
    option = null;
    option = {
        title: {
            text: '较上季度变化情况',
        },
        tooltip: {
            trigger: 'axis',
            axisPointer: {            // 坐标轴指示器，坐标轴触发有效
                type: 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
            },
            formatter: function (params) {
                var tar;
                if (params[1].value != '-') {
                    tar = params[1];
                }
                else {
                    tar = params[0];
                }
                return tar.name + '<br/>' + tar.seriesName + ' : ' + tar.value;
            }
        },
        // legend: {
        //     data:['支出','收入']
        // },
        grid: {
            left: '3%',
            right: '4%',
            bottom: '3%',
            containLabel: true
        },
        xAxis: {
            type: 'category',
            splitLine: {show: false},
            data: function () {
                var list = [];
                    for (var i = 2000; i <= 2018; i++) {
                        for (var j = 1; j <= 4; j++) {
                            if (i == 2018 && j == 4) break
                            list.push(i + '年第' + j+'季度');
                        }
                    }
                    return list.splice(1,list.length-1);
            }()
        },
        yAxis: {
            type: 'value'
        },
        series: [
            {
                name: '较上季度增长',
                type: 'bar',
                // label: {
                //     normal: {
                //         show: true,
                //         position: 'top'
                //     }
                // },
                data: []
            },
            {
                name: '较上季度减少',
                type: 'bar',
                stack: '总量',
                // label: {
                //     normal: {
                //         show: true,
                //         position: 'bottom'
                //     }
                // },
                data:[]
            }
        ]
    };

    if (option && typeof option === "object") {
        myChart6.setOption(option, true);
        myChart61.setOption(option, true);
    }

</script> -->
{% endblock content%}