{% extends '_base.html' %}
{% load static %}

{% block title %}上海市{% endblock title%}
{% block  content%}
<div class="row">
    <div class="col-lg-12">
        <ol class="breadcrumb">
            <li><a href="predictPart"><i class="fa fa-dashboard"></i> 上海市</a></li>
            <!-- <li class="active"><i class="fa fa-table"></i> Tables</li> -->
        </ol>
    </div>
</div><!-- /.row -->

<div class="row">
    <div class="col-lg-2">

    </div>
    <div class="col-lg-8">
        <div id="container" style="height: 1000px"></div>
    </div>
    <div class="col-lg-2">

    </div>
</div><!-- /.row -->

<script type="text/javascript">
    var li = {{ li|safe }};
    var data = new Array();         //先声明一维
       for(var i=0;i<5;i++){          //一维长度为5
          data[i]=new Array(i);    //在声明二维
          for(var j=0;j<16;j++){      //二维长度为16
             data[i][j]=i;
       }
}
    for(var i=0;i<16;i++){
        for(var j=0;j<5;j++){
            data[j][i] = li[i*5+j]
        }
    }
    var dom = document.getElementById("container");
    var myChart = echarts.init(dom);
    var app = {};
    option = null;
    app.title = '堆叠条形图';
    // $("#container").css( 'width', $("#container").width());
    // $("#container").css( 'height', $("#container").height());
    option = {
        tooltip: {
            trigger: 'axis',
            axisPointer: {            // 坐标轴指示器，坐标轴触发有效
                type: 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
            }
        },
        legend: {
            data: ['畜牧业','食品制造业','纺织业','医药制造业','金属制品业']
        },
        grid: {
            left: '3%',
            right: '4%',
            bottom: '3%',
            containLabel: true
        },
        xAxis: {
            type: 'value'
        },
        yAxis: {
            type: 'category',
            data: ['黄浦', '徐汇', '长宁', '静安', '普陀', '虹口', '杨浦', '闵行', '宝山', '嘉定', '浦东', '金山', '松江', '青浦', '奉贤', '崇明']
        },
        series: [
            {
                name: '畜牧业',
                type: 'bar',
                stack: '总量',
                label: {
                    normal: {
                        show: true,
                        position: 'insideRight'
                    }
                },
                data: data[0]
            },
            {
                name: '食品制造业',
                type: 'bar',
                stack: '总量',
                label: {
                    normal: {
                        show: true,
                        position: 'insideRight'
                    }
                },
                data: data[1]
            },
            {
                name: '纺织业',
                type: 'bar',
                stack: '总量',
                label: {
                    normal: {
                        show: true,
                        position: 'insideRight'
                    }
                },
                data: data[2]
            },
            {
                name: '医药制造业',
                type: 'bar',
                stack: '总量',
                label: {
                    normal: {
                        show: true,
                        position: 'insideRight'
                    }
                },
                data: data[3]
            },
            {
                name: '金属制品业',
                type: 'bar',
                stack: '总量',
                label: {
                    normal: {
                        show: true,
                        position: 'insideRight'
                    }
                },
                data: data[4]
            }
        ]
    };

    myChart.setOption(option, true);
    myChart.on('click', function (params) {
        // window.open('https://www.baidu.com/s?wd=' + encodeURIComponent(params.name))
        window.location.href='predictPart?region='+encodeURIComponent(params.name)+'&type=全部'
    });
    myChart.on('legendselectchanged', function (params) {
        window.location.href='predictPart?retion=全部&type='+encodeURIComponent(params.name)
    });
</script>
{% endblock content%}