{% extends '_base.html' %}
{% load static %}
{% block title %}{{title}}{% endblock title%}
{% block content%}
<div class="row">
    <div class="col-lg-12">
        <ol class="breadcrumb">
            <li><a href="predictPart"><i class="fa fa-dashboard"></i> 上海市</a></li>
            <li><a href="predictCom"><i class="fa fa-dashboard"></i> 某区某行业</a></li>
            <!-- <li href="predictCom"><i class="fa fa-table"></i> 某区某行业</li> -->
        </ol>
    </div>
</div><!-- /.row -->
<div class="row">
    <div class="col-lg-3" id="ss">
        <!-- {{data_region}} -->
    </div>
    <div class="col-lg-3">
        <div id="region_pie" style="height: 300px"></div>
    </div>
    <div class="col-lg-3">
        <div id="type_pie" style="height: 300px"></div>
    </div>
    <div class="col-lg-3">
    </div>
</div><!-- /.row -->
<div class="row">
    <div class="col-lg-2">
    </div>
    <div class="col-lg-4">
        <div id="benifit_bar1" style="height:400px"></div>
    </div>
    <div class="col-lg-4">
        <div id="rate_bar1" style="height:400px"></div>
    </div>
    <div class="col-lg-2">
    </div>
</div><!-- /.row -->
<div class="row">
    <div class="col-lg-2">
    </div>
    <div class="col-lg-4">
        <div id="benifit_bar2" style="height:400px"></div>
    </div>
    <div class="col-lg-4">
        <div id="rate_bar2" style="height:400px"></div>
    </div>
    <div class="col-lg-2">
    </div>
</div><!-- /.row -->

<script type="text/javascript">
var region = {{region|safe}};
var type = {{type|safe}};

var dom1 = document.getElementById("region_pie");
var myChart1 = echarts.init(dom1);
option1 = null;
option1 = {

    tooltip: {
        trigger: 'item',
        formatter: "{a} <br/>{b} : {c} ({d}%)"
    },

    series: [{
        name: '区域',
        type: 'pie',
        radius: '55%',
        selectedMode: 'single',
        center: ['50%', '60%'],
        data: region,
        itemStyle: {
            emphasis: {
                shadowBlur: 10,
                shadowOffsetX: 0,
                shadowColor: 'rgba(0, 0, 0, 0.5)'
            }
        }
    }]
};
if (option1 && typeof option1 === "object") {
    myChart1.setOption(option1, true);
}

var dom2 = document.getElementById("type_pie");
var myChart2 = echarts.init(dom2);
option2 = null;
option2 = {

    tooltip: {
        trigger: 'item',
        formatter: "{a} <br/>{b} : {c} ({d}%)"
    },
    series: [{
        name: '访问来源',
        type: 'pie',
        radius: '55%',
        selectedMode: 'single',
        center: ['50%', '60%'],
        data: type,
        itemStyle: {
            emphasis: {
                shadowBlur: 10,
                shadowOffsetX: 0,
                shadowColor: 'rgba(0, 0, 0, 0.5)'
            }
        }
    }]
};;
if (option2 && typeof option2 === "object") {
    myChart2.setOption(option2, true);
}



myChart1.on('click', function(params) {
    alert(myChart2.getOption.name);
});
</script>
<!-- <script type="text/javascript">
var dom = document.getElementById("type_pie");
var myChart2 = echarts.init(dom);
var app = {};
option = null;
option = {

    tooltip: {
        trigger: 'item',
        formatter: "{a} <br/>{b} : {c} ({d}%)"
    },
    series: [{
        name: '访问来源',
        type: 'pie',
        radius: '55%',
        selectedMode: 'single',
        center: ['50%', '60%'],
        data: type,
        itemStyle: {
            emphasis: {
                shadowBlur: 10,
                shadowOffsetX: 0,
                shadowColor: 'rgba(0, 0, 0, 0.5)'
            }
        }
    }]
};;
if (option && typeof option === "object") {
    myChart2.setOption(option, true);
}
// myChart2.on('mousedown', function(params) {
//     myChart2.dispatchAction({
//         type: 'highlight',
//         seriesIndex: 0,
//         dataIndex: 2
//     })
// });
</script> -->
<script type="text/javascript">
var dom1 = document.getElementById("benifit_bar1");
var dom2 = document.getElementById("benifit_bar2");
var myChart3 = echarts.init(dom1);
var myChart31 = echarts.init(dom2);
var app = {};
option = null;
option = {
    grid: {
        left: '3%',
        right: '4%',
        bottom: '3%',
        containLabel: true
    },
    xAxis: {
        type: 'category',
        data: function() {
            var list = [];
            for (var i = 2010; i <= 2018; i++) {
                for (var j = 1; j <= 4; j++) {
                    if (i == 2018 && j == 4) break
                    list.push(i + '年.' + j);
                }
            }
            return list;
        }()
    },
    yAxis: {
        type: 'value'
    },
    series: [{
        data: [10213000000, 7820000000, 6909000000, 8686000000, 7967000000, 4989000000, 3770000000, 1630000000, 5624000000, 4023000000, -2202000000, 3606000000, 10083000000, 6167000000, 7515000000, 589000000, 7236000000, 11210000000, 9169000000, 4489000000, 12309000000, 19227000000, 2375000000, 853000000, 5282000000, 5194000000, 3165000000, 5649000000, 6158000000, 6119000000, 14625000000, 5488000000, 13589000000, 2951000000, 3509000000],
        type: 'line'
    }]
};

// option = {
//     title: {
//         text: '净利润',
//         // subtext: 'From ExcelHome',
//         // sublink: 'http://e.weibo.com/1341556070/Aj1J2x5a5'
//     },
//     tooltip: {
//         trigger: 'axis',
//         axisPointer: { // 坐标轴指示器，坐标轴触发有效
//             type: 'shadow' // 默认为直线，可选为：'line' | 'shadow'
//         },
//         formatter: function(params) {
//             var tar;
//             if (params[1].value != '-') {
//                 tar = params[1];
//             } else {
//                 tar = params[0];
//             }
//             return tar.name + '<br/>' + tar.seriesName + ' : ' + tar.value;
//         }
//     },
//     // legend: {
//     //     data:['支出','收入']
//     // },
//     grid: {
//         left: '3%',
//         right: '4%',
//         bottom: '3%',
//         containLabel: true
//     },
//     xAxis: {
//         type: 'category',
//         splitLine: { show: false },
//         data: function() {
//             var list = [];
//             for (var i = 2010; i <= 2018; i++) {
//                 for (var j = 1; j<=4; j++){
//                     if(i==2018&&j==4) break
//                     list.push(i + '年.' + j);
//                 }
//             }
//             return list;
//         }()
//     },
//     yAxis: {
//         type: 'value'
//     },
//     series: [{
//             name: '辅助',
//             type: 'bar',
//             stack: '总量',
//             itemStyle: {
//                 normal: {
//                     barBorderColor: 'rgba(0,0,0,0)',
//                     color: 'rgba(0,0,0,0)'
//                 },
//                 emphasis: {
//                     barBorderColor: 'rgba(0,0,0,0)',
//                     color: 'rgba(0,0,0,0)'
//                 }
//             },
//             data: [10213000000,7820000000,6909000000,8686000000,7967000000,4989000000,3770000000,1630000000,5624000000,4023000000,-2202000000,3606000000,10083000000,6167000000,7515000000,589000000,7236000000,11210000000,9169000000,4489000000,12309000000,19227000000,2375000000,853000000,5282000000,5194000000,3165000000,5649000000,6158000000,6119000000,14625000000,5488000000,13589000000,2951000000,3509000000]
//         },
//         {
//             name: '收入',
//             type: 'bar',
//             stack: '总量',
//             label: {
//                 normal: {
//                     show: true,
//                     position: 'top'
//                 }
//             },
//             data: [10213000000,7820000000,6909000000,8686000000,7967000000,4989000000,3770000000,1630000000,5624000000,4023000000,'-',3606000000,10083000000,6167000000,7515000000,589000000,7236000000,11210000000,9169000000,4489000000,12309000000,19227000000,2375000000,853000000,5282000000,5194000000,3165000000,5649000000,6158000000,6119000000,14625000000,5488000000,13589000000,2951000000,3509000000]
//         },
//         {
//             name: '支出',
//             type: 'bar',
//             stack: '总量',
//             label: {
//                 normal: {
//                     show: true,
//                     position: 'bottom'
//                 }
//             },
//             data: ['-','-']
//         }
//     ]
// };
var dom1 = document.getElementById("rate_bar1");
var dom2 = document.getElementById("rate_bar2");
var myChart4 = echarts.init(dom1);
var myChart41 = echarts.init(dom2);
if (option && typeof option === "object") {
    myChart3.setOption(option, true);
    myChart31.setOption(option, true);
    myChart4.setOption(option, true);
    myChart41.setOption(option, true);
}
</script>
<!-- <script type="text/javascript">
var dom1 = document.getElementById("rate_bar1");
var dom2 = document.getElementById("rate_bar2");
var myChart4 = echarts.init(dom1);
var myChart41 = echarts.init(dom2);
var app = {};
option = null;
option = {
    title: [{
            text: '增长率',
            // left: 'center',
            // top: 20,
            // textStyle: {
            //     color: 'blue',
            //fontSize: '14',
            // },
        },
        //     {
        //         text: '实验室',
        //         //borderColor: '#999',
        //         //borderWidth: 1,
        //         textStyle: {
        //             fontSize: 14
        //         },
        //         left: 'center',
        //         top: '88%'
        //     },
    ],
    tooltip: {
        trigger: 'axis', //坐标轴触发，主要在柱状图，折线图等会使用类目轴的图表中使用。
        axisPointer: { // 坐标轴指示器，坐标轴触发有效
            type: 'shadow' // 默认为直线，可选为：'line' | 'shadow' |'cross'
        }
    },
    // legend: {
    //     data: ['利润', '支出'],
    //     //bottom: '0',
    // },
    grid: {
        left: '3%',
        right: '4%',
        bottom: '3%',
        containLabel: true
    },
    xAxis: [{
        type: 'category',
        axisTick: { //坐标轴刻度相关设置。
            show: false,
        },
        data: function() {
            var list = [];
            for (var i = 2006; i <= 2017; i++) {
                list.push(i + '年');
            }
            return list;
        }(),
        //                      axisLine: {
        //                          //show: true, //是否显示坐标轴轴线。
        //                          //onZero:false,//X 轴或者 Y 轴的轴线是否在另一个轴的 0 刻度上，只有在另一个轴为数值轴且包含 0 刻度时有效。
        //                          //symbol:'arrow', //轴线两边的箭头
        ////                            lineStyle: {
        ////                                width: 2,
        ////                                color: 'green',
        ////                            },
        //                      },

    }],
    yAxis: [{
        type: 'value',
        // name: 'Z值',
        nameLocation: 'center',
        nameGap: 40
    }],
    series: [
        // {
        //     name: '利润',
        //     type: 'bar',
        //     label: { //图形上的文本标签，可用于说明图形的一些数据信息，比如值，名称等
        //         normal: { //正常情况
        //             show: true, //是否显示标签
        //             position: 'inside', //标签的位置。
        //             distance: 5, //距离图形元素的距离。当 position 为字符描述值（如 'top'、'insideRight'）时候有效。default: 5
        //             rotate: 0, //标签旋转。从 -90 度到 90 度。正值是逆时针。

        //         }
        //     },
        //     data: [200, ,170,0, 240, 0,244, 0,200]
        // }
        {
            name: '收入',
            type: 'bar',
            stack: '总量', //数据堆叠，同个类目轴上系列配置相同的stack值可以堆叠放置。
            label: {
                normal: {
                    show: true, //是否显示标签
                    position: 'inside', //标签的位置。
                }
            },
            data: [320, '-', 342, '-', 390, '-', 420, '-', 330]
        },
        {
            name: '支出',
            type: 'bar',
            stack: '总量',
            label: {
                normal: { //正常情况
                    show: true, //是否显示标签
                    position: 'inside'
                }
            },
            data: ['-', -120, '-', -132, '-', -102, '-', -134, 0]
        }
    ]
};

    myChart4.setOption(option, true);
    myChart41.setOption(option, true);
</script> -->
{% endblock content%}