{% extends '_base.html' %}
{% load static %}

{% block title %}科技政务大数据平台{% endblock %}

{% block  content%}

<h1 style="text-align:center;">科技政务大数据平台介绍</h1>

<div style="margin:20px 50px 20px 50px;">  <!--height="500" valign="top" width="500" align="left" -->
<div class="xxgk_content_nr">


<h3>一、项目目的</h3>
<br />
<p style="text-indent:2em; line-height:130%;">本项目依托上海市科委多年的信息化建设成果，探索与研究大数据技术在科技政务领域的应用，建设形成面向科技政务的大数据服务平台与应用示范。研究多源异质异构科技政务数据融合处理能力，整合项目管理系统、行政审批系统等业务系统数据，以及国家科技部、其他委办局和网络上的科技信息资源，实现“横向”和“纵向”信息资源互通共享；通过多源高维数据治理，实现科技数据的主题化汇聚和知识化分析，提高信息资源的完备性、真实性和时效性；结合大数据、人工智能技术与行业专家的业务经验，建设形成人才画像、专家画像、推荐系统等几类通用型大数据智能服务；围绕深化科技体制改革和创新工作方式的要求，开展科技大数据应用示范建设，形成面向政府的科技决策、面向企业的科技扶持与面向人才的科技培育等多类应用。 
</p>
<p style="text-indent:2em; line-height:130%;"> 通过本项目的建设，推动数据的多元化融合，促使科技业务治理从粗放向精细转变、从被动响应向主动预见转变、从经验判断向大数据科学决策转变，并为科技政务决策、企业扶持与人才培育提供科学、精准的数据支撑。
</p>
<br />

<h3>二、科技政务大数据平台架构 </h3>

<div style="text-align: center;">
<img alt="" src="../static/images/projectArch.png" width="700">
<p>图 1 科技政务大数据平台架构图</p>
</div>

<br />

<p style="text-indent:2em; line-height:130%;"> 本次科技政务大数据项目主要面向上海市科技委员会已建相关信息系统，考虑到更大范围内数据需求的对接利用，需要将共享获得的数据加以清洗、分析、整合和利用，建立一套长期运行管理机制，包括具体采集方式、如何进行数据清理、数据检查、质量分析和及时更新相关工作。主要体现在以下四个方面：

<ol style="margin-left:40px; ">
	<li><p>数据上报采集。大数据平台从上海市科委的信息系统中进行数据的采集和保存。</p></li>
	<li><p>数据存储、处理和统计。即对上报的数据进行加工和存储，利用大数据技术进行数据统计和数据展现，方便查看和检索。</p></li>
	<li><p>数据分析与挖掘。如对外部服务满意度和内部办事效能方向进行数据分析和挖掘，对重要的关键数据进行实时监控和预警。</p></li>
	<li><p>上层应用。科技数据体系的构建，从统计指标设计出发，以结果导向来设计数据体系，以更好的辅助管理者决策为目标。</p></li>
</ol>
</p>
<br />


<h3>三、科技政务大数据采集 </h3>
<br />
<p style="text-indent:2em; line-height:130%;">数据采集是指利用Web、App或者传感器等形式搜集数据，并将数据通过网络传输等形式上传并保存到数据库中的过程。本项目所设计的大数据系统是针对科技政务，需要结合上海市科技委员会具体的业务和科技政务数据的特点和来设计数据采集方式。

上海市科技委员会主要负责主管上海市的科技工作的政府部门，其主要职能包括起草、制定、贯彻执行与科技工作相关的法律、法规、规章、方针和政策；制定和组织实施上海市科技发展的规划；负责科技重大专项的组织实施和综合协调平衡；制定人才发展规划和相关政策等。其产生的科技政务数据主要来自如图 1中框架底层科技政务数据资源所示的几个方面：

<ul style="margin-left:40px; ">
	<li><p>科研项目管理系统。科研项目管理系统主要包括科研项目申报、评审、审查和验收，以及财务审核等功能。该系统会记录科研项目申报至结题的一系列文本数据，评审专家信息和评审记录，项目结题产生的科技成果记录等数据。</p></li>
	<li><p>行政审批系统。审批系统产生的数据主要包括用户填写的信息，审批进度，用户、企业事务办理记录，用户提出意见和建议等。</p></li>
	<li><p>行政运行系统。行政运行系统主要记录了科技委员会正常运行时产生的一些数据，包括员工日常考核记录，各科室的会议记录，科技场馆参观人数记录和维护信息等。</p></li>
	<li><p>科技114。该系统主要记录了各个行业不同单位的信息，以方便用户访问。</p></li>
	<li><p>外部关联数据。外部关联的数据可以是从国家层面、相邻省份或者其他部门对接来的数据，例如记录人才信息的人才库、记录公司状况的法人库等。</p></li>
	<li><p>网络数据。互联网是获取数据的一个重要来源。科学技术委员会可以通过网络获取国家和其他省市出台的科技政策、各个公司和研究机构的知识产权、企业年度经营状况和发展报告、科技公司股价波动、人民大众对于政策的反映等等。</p>	</li>
</ul>
</p>
<br />


<h3>四、大数据服务平台 </h3>
<br />
<p style="text-indent:2em; line-height:130%;"> 大数据服务平台主要涉及科技政务大数据的存储、处理和统计，以及数据分析和挖掘。具体来说，大数据服务平台主要包含两个模块，即科技政务大数据资源中心、科技政务大数据智能计算平台。这两个模块分别执行数据存储和访问控制，以及数据挖掘的功能，共同构成了完整的政务大数据存储处理一站式平台。
</p>

<p style="text-indent:2em; line-height:130%;">
科技政务大数据资源中心接收并处理多源异构的科技政务大数据。利用分布式数据库，或者分布式计算集群来对存储于其内的海量数据进行普通的分析和分类汇总等。在数据存储的过程中对数据进行一系列数据治理工作，如数据的清洗、数据融合等。构建科技政务大数据分级分类资源目录，形成全局化的数据资源视图，提升科技政务大数据利用效率，为业务管理、科研企业、科研个人等用户进行数据资源查阅、申请、调用提供便捷可信的资源保障。
</p>

<p style="text-indent:2em; line-height:130%;">
科技政务大数据智能计算平台借助计算机从存储于科技政务大数据资源中心的海量数据中发现隐含的知识和规律，其核心是利用人工智能、机器学习、模式识别等理论对数据进行分析和处理。比如，分析企业发展时序数据中的因果关系；挖掘企业发展过程中多种因素之间的相关关系。
</p>
<br />

<h3>五、应用示范</h3>
<br />
<p style="text-indent:2em; line-height:130%;">根据应用所针对的使用对象，可以将政务大数据应用分为三大类，即面向政府的科技决策、面向企业的科技扶持和面向人才的科技培育。
</p>

<p style="text-indent:2em; line-height:130%;">在面向政府的应用中，主要解决的问题是现有的科技政务系统注重办事流程和相关数据记录，关注业务流程、系统功能的电子化、网络化和信息化，以提高工作效率为主要建设目标，而缺乏有效的数据分析和可视化操作。科技政务大数据框架可以在底层的大数据服务平台进行数据特征分析、关联分析、信息挖掘等，并在应用层面实现科技运行态势研判、社会关注热点提炼、事件预测预警预报、重大科技项目重大政策出台评估等要求，为科技委员会的宏观决策提供大数据决策支撑。
</p>

<p style="text-indent:2em; line-height:130%;">
在面向企业的科技扶持应用中，主要关注的问题是企业相关科技政策和项目的推荐。科技政策和相关法律一般比较精炼，这就常导致企业较难发现和理解与自身切实相关的支持政策和法律规定。现有的解决方法是，在相关科技政策和法律法规出台的同时，科技委员会会发出相关文件的解读，以帮助企业理解科技政策和法律法规的内容。然而，这依然需要企业的工作人员对所有出台的政策和相关解读进行详细研读。因此，根据企业的特征，个性化地推荐相关政策的内容，可以极大地降低企业的工作量。此外，科技政务大数据框架还可以实现对企业发展状况进行预测，这为科技委员会的科研资金投入和项目分配提供了指导，也使得有发展前景的初创企业获得更多的机会。
</p>

<p style="text-indent:2em; line-height:130%;">
在面向人才的科技培育应用中，需要帮助人才进行各种项目申请。因为每个人擅长的领域不同，因此需要针对人才的个人特点进行个性化的项目推荐，以及人才认定等。同时每个人也有自己的发展轨迹，可以分析人才的成长路径，为其他人才的成长提供指导。
</p>

<br />


<h3>五、项目承接单位</h3>
<br />
<p style="text-indent:2em; line-height:130%;" >◆<a href="http://www.wondersgroup.com/">上海市万达信息股份有限公司</a></p>
<p style="text-indent:2em; line-height:130%;">◆上海交通大学计算机系DDST实验室</p>
<p align="center"><a href="http://www.stcsm.gov.cn/">上海市科技委员会</a></p>
</div>
</div>

{% endblock content%}
