 <section class="blog-block">
                <html>
                <body>
                <nav class="navbar navbar-default" role="navigation">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <a class="navbar-brand" href="#">查询企业全息画像</a>
                        </div>
                        <form class="navbar-form navbar-left" role="search">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="企业名称" />
                            </div>
                            <button type="submit" class="btn btn-default">查询</button>
                        </form>
                    </div>
                </nav>
                <div class="row">
                    <div style="width:6%" class="col-md-1">
                    </div>
                    <img src="https://www.google.com/images/branding/googlelogo/1x/googlelogo_color_272x92dp.png" id="qylogo" style="width: 272px;height: 92px;" /> <!----真的烦--->
                    <div style="width:60%" class="col-md-8">
                        <h1>谷歌信息技术有限公司</h1>
                    </div>
                </div>
                <div class="row">
                    <div style="width:6%" class="col-md-1">
                    </div>

                    <ul id="myTab" class="nav nav-tabs">
                        <li class="active"><a href="#home" data-toggle="tab">词云一瞥</a></li>
                        <li><a href="#pingfen" data-toggle="tab">综合评分</a></li>
                        <li><a href="#xinxi" data-toggle="tab">详细信息</a></li>
                    </ul>

                    <div id="myTabContent" class="tab-content">
                        <div class="tab-pane fade in active" id="home">

                            <!--<div class="row">-->
                                <!--<div style="width:6%" class="col-md-1">-->
                                <!--</div>-->
                                <!--<div id="main1" style="width:50%; height:200px" class="col-md-4"></div>-->
                            <!--</div>-->

                            <div id="container1" style="width:500px;height: 500px" class="col-md-4"></div>
                            <!--<div class="row">-->
                                <!--<div style="width:6%" class="col-md-1">-->
                                <!--</div>-->
                                <!--<table class="table table-bordered" style="width:70%">-->
                                    <!--<caption>-->
                                        <!--企业档案-->
                                    <!--</caption>-->
                                    <!--<tbody>-->
                                    <!--<tr>-->
                                        <!--<td style="background-color:#53CD29">公司中文名称</td>-->
                                        <!--<td>北汽福田汽车股份有限公司</td>-->
                                    <!--</tr>-->
                                    <!--<tr>-->
                                        <!--<td style="background-color:#53CD29">发行证券名称</td>-->
                                        <!--<td>福田汽车</td>-->
                                    <!--</tr>-->
                                    <!--<tr>-->
                                        <!--<td style="background-color:#53CD29">组织形式</td>-->
                                        <!--<td>地方国有企业</td>-->
                                    <!--</tr>-->
                                    <!--<tr>-->
                                        <!--<td style="background-color:#53CD29">企业规模</td>-->
                                        <!--<td>大型企业</td>-->
                                    <!--</tr>-->
                                    <!--<tr>-->
                                        <!--<td style="background-color:#53CD29">主营业务</td>-->
                                        <!--<td>制造销售汽车。</td>-->
                                    <!--</tr>-->
                                    <!--</tbody>-->
                                <!--</table>-->
                            <!--</div>-->
                        </div>

                        <div class="tab-pane fade in active-self2" id="pingfen">
                            <div id="container2" style="width:500px;height: 500px" class="col-md-4"></div>
                        </div>


                        <div class="tab-pane fade in active-self3-notbootstrap" id="xinxi">
                            <div class="row">
                                <div style="width:6%" class="col-md-1">
                                </div>
                                <table class="table table-bordered" style="width:70%">
                                    <tbody>
                                    <td>基本信息</td>
                                    <tr>
                                        <td style="background-color:#A6B030">公司名称</td>
                                        <td>谷歌信息技术有限公司</td>
                                    </tr>
                                    <tr>
                                        <td style="background-color:#A6B030">成立日期</td>
                                        <td>undefined</td>
                                    </tr>
                                    <tr>
                                        <td style="background-color:#A6B030">员工总数</td>
                                        <td>undefined</td>
                                    </tr>
                                    <tr>
                                        <td style="background-color:#A6B030">主营业务</td>
                                        <td>undefined</td>
                                    </tr>



                                    <td >发展能力概况</td>
                                    <tr>
                                        <td style="background-color:#1691DA">主营业务收入</td>
                                        <td>undefined</td>
                                    </tr>
                                    <tr>
                                        <td style="background-color:#1691DA">营业利润</td>
                                        <td>undefined</td>
                                    </tr>




                                    <td>创新潜力</td>
                                    <tr>
                                        <td style="background-color:#53CD29">员工构成</td>
                                        <td>undefined</td>
                                    </tr>
                                    <tr>
                                        <td style="background-color:#53CD29">专利申请数</td>
                                        <td>undefined</td>
                                    </tr>
                                    <tr>
                                        <td style="background-color:#53CD29">论文发表数</td>
                                        <td>undefined</td>
                                    </tr>
                                    <tr>
                                        <td style="background-color:#53CD29">成果已累计实现销售收入</td>
                                        <td>undefined</td>
                                    </tr>





                                    <td>风险信息</td>
                                    <tr>
                                        <td style="background-color:#C83F3F">所属行业类别</td>
                                        <td>undefined</td>
                                    </tr>
                                    <tr>
                                        <td style="background-color:#C83F3F">固定资产总额</td>
                                        <td>undefined</td>
                                    </tr>
                                    <tr>
                                        <td style="background-color:#C83F3F">总负债</td>
                                        <td>undefined</td>
                                    </tr>



                                    <tr>
                                        <td style="background-color:#C83F3F"></td>
                                        <td>undefined</td>
                                    </tr>
                                  </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                </body>
                </html>
